* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2.6rem;
}

p {
  font-size: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 0.4rem;
}

#container {
  width: min(85vw, 54rem);
  background: #7ba8c0;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: min(9vw, 6rem);
  border-radius: 2rem;
}

img {
  max-width: 60vw;
}

hr {
  margin: 1.2rem;
}
